# IDE
.idea

# Dependencies
node_modules

# Build output
dist
storage

# Cache
.vite
.cache

# Environment
.env

# Database
database.sqlite

# TypeScript build info
tsconfig.tsbuildinfo
vite.config.tsbuildinfo